<div class="container">
       <form class="form-signin" ng-show="!loggedin" >
           {{err}}<br/>
            <label>Login:</label>
            <input type="text"  ng-model="username" class="form-control" placeholder="Login" required autofocus>
            <label>Password</label>
            <input type="password"  ng-model="password" class="form-control" placeholder="Password" required>
            <button ng-click="login()" class="btn btn-md btn-success btn-block" type="button">Войти</button>
        </form>      
		
		<form class="form-signin" ng-show="loggedin" >
            <button ng-click="logout()" class="btn btn-md btn-success btn-block" type="button">Выйти</button>
        </form>  
 </div>