 <div  class="row">
		<div class="col-md-12">
			<div class="row">
				<div ng-repeat="(listName, list) in models.lists" class="col-md-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">{{listName}}</h3>
						</div>
						<div class="panel-body" ng-include="'html/list.html'"></div>
					</div>
				</div>
			</div>
		</div>
</div>